@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: grid;
   align-items: center;
   justify-items: center;
}
.container {
   display: grid;
   width: 1024px;
   justify-content: center;
   align-content: center;
   row-gap: 1fr;
}

header {
   text-transform: uppercase;
   padding: 30px;
   font-weight: 800;
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: -2px;
   word-spacing: 2px;
}
img {
   width: 80%;
}
section {
   display: grid;
   font-family: 'Open Sans', sans-serif;
   align-items: center;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   margin-bottom: 50px;
}
h1 {
   font-size: 55px;
   margin-bottom: 30px;
   word-spacing: 5px;
}

p {
   word-spacing: 10px;
   margin-bottom: 30px;
}
button {
   padding: 20px 30px;
   background-color: #000;
   color: #fff;
   border: none;
   text-transform: uppercase;
   font-size: 12px;
}
footer {
   text-align: center;
}

@media screen and (max-width: 960px) {
   body,
   section {
      display: flex;
   }
   section {
      flex-direction: column;
      /* margin: auto; */
   }
   h1 {
      font-size: 40px;
      word-spacing: 0;
   }
   p {
      word-spacing: 0;
      width: auto;
   }
}
